version: '3.8'

services:
  schrostream:
    build: .
    container_name: schrostream
    restart: unless-stopped
    network_mode: host
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - PLEX_URL=${PLEX_URL}
      - PLEX_TOKEN=${PLEX_TOKEN}
      - COMMAND_PREFIX=${COMMAND_PREFIX:-!}
      - ALLOWED_USERS=${ALLOWED_USERS:-}
      - ALLOWED_ROLES=${ALLOWED_ROLES:-}
      - ALLOWED_GUILDS=${ALLOWED_GUILDS:-}
      - DEFAULT_QUALITY=${DEFAULT_QUALITY:-1080}
      - MAX_BITRATE=${MAX_BITRATE:-8000}
      - AUDIO_BITRATE=${AUDIO_BITRATE:-192}
      - PLEX_CLIENT_IDENTIFIER=${PLEX_CLIENT_IDENTIFIER:-SchroStream}
    volumes:
      - ./data:/app/data
